<div class="container">
  <div class="row text-center justify-content-center">
    <div class="col">
      <img src="./img/profile.jpg" class="rounded-circle" alt="Foto">
      <h1 class="display-4">Ini adalah Halaman About</h1>
      <h1 class="lead">UI/UX Designer | Programmer</h1>
    </div>
  </div>
</div>
